<ion-view style="" id="cloud-view" view-title="Cloud">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h3 style="">Match Summary</h3>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form style="" class="list">
            <label style="" name="numFouls" class="item item-input">
                <span class="input-label">Fouls</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form style="" class="list">
            <label style="" name="foulInfo" class="item item-input">
                <span class="input-label">Foul Details</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button style="" class="button button-positive button-block ">Upload Match</button>
    </ion-content>
</ion-view>