<ion-view view-title="Configuration" id="configuration-view">
   <ion-content class="has-header" overflow-scroll="true" padding="true">
      <div ng-controller="ConfigurationCtrl as configuration">
         <form class="form-inline" role="form">
            <span>
               <label>Team #</label>
               <input type="text" ng-model="configuration.teamNumber" />
            </span>
            <span><label>Team Name</label><input type="text" ng-model="configuration.teamName" /></span>
            <button style="" class="button button-energized button-block " ng-click="configuration.addTeam()">Add</button>

            <div style="width: 100%; height: 15em; overflow: scroll;">
               <table>
                  <colgroup>
                     <col span="1" style="width: 10em;" />
                     <col span="1" style="width: 80em;" />
                  </colgroup>
                  <thead>
                     <tr>
                        <th id="number_header">Number</th>
                        <th id="name_header">Name</th>>
                     </tr>
                  </thead>
                  <tr ng-repeat="team in configuration.teams | orderBy: 'number'">
                     <td ng-dblclick="configuration.clickOnTeam(team.number)">{{team.number}}</td>
                     <td ng-dblclick="configuration.clickOnTeam(team.number)">{{team.name}}</td>
                  </tr>
               </table>
            </div>
            <!--
                                <label style="" class="item item-select">
                <span class="input-label">Team</span>
                <select>
                    <option ng-repeat="team in configuration.teams | orderBy: 'number'">{{team.number + ' ' + team.name}}</option>
                </select>
            </label>
                -->
         </form>
         <p>Enter Team # (mandatory) and Team Name (optional) and tap "Add" to add a team to the event.</p>
         <p>Double-tap a team in the list to remove the team from the event (careful!)</p>
      </div>
   </ion-content>
</ion-view>