<ion-view view-title="Configuration" id="configuration-view">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form class="list">
            <div class="list">

                <label class="item item-input item-select">
                    <span class="input-label">
                        Teams
                    </span>

                    <!-- ng-model="configuration.selectedTeam" -->
                    <select ng-options="x.number for x in configuration.teams"></select>
                </label>

            </div>
        </form>
    </ion-content>
</ion-view>