<ion-view style="" view-title="Match">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" name="teamNumber" class="item item-select">
                <span class="input-label">Team Number</span>
                <select>
                    <option ng-repeat="team in teams">{{team.number}}<p>{{team.name}}</p></option>
                </select>
            </label>
        </form>
       <p>IGNORE THIS TAB FOR NOW!</p>
       <p>Stuff that is supposed to be here is on the CLOUD tab</p>
    </ion-content>
</ion-view>
