<ion-view view-title="Pit Scouting" id="pit-view">
  <ion-content class="has-header" overflow-scroll="true" padding="true"> 
        <form style="" class="list">
            <label style="" name="pitTeam" class="item item-select">
                <span class="input-label">Team</span>
                <select></select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Wheels</span>
                <select></select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Wheel Type</span>
                <select></select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Code</span>
                <select>
                    <option>Java</option>
                    <option>C++</option>
                    <option>LabView</option>
                </select>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Scaling Mechanism</span><textarea placeholder=""> </textarea>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Intake Mechanism</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>
