<ion-view view-title="Setup" id="setup-view">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <span><label>Team #</label>
            <input type="text" ng-model="teamNumber" /></span>
            <span><label>Team Name</label><input type="text" ng-model="teamName"/></span>
            <button style="" class="button button-energized button-block " ng-click="addTeam">Add</button>

            <label style="" class="item item-select">
                <span class="input-label">Team</span>
                <select>
                    <option ng-repeat="team in teams">{{team.number + ' ' + team.name}}1</option>
                </select>
            </label>
            <ion-toggle style="" toggle-class="toggle-positive">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>
 