<ion-view view-title="Setup" id="setup-view">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Team</span>
                <select>
                    <option>1</option>
                    <option>210</option>
                    <option>457</option>
                    <option>2016</option>
                </select>
            </label>
            <ion-toggle style="" toggle-class="toggle-positive">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>
