<!-- <ion-view  title="Tabs Controller"> -->
    <ion-tabs class="tabs-icon-top tabs-positive" ng-cloak>
      
        <ion-tab  title="Configuration" icon="ion-gear-a" ui-sref="tabs.configure">
            <ion-nav-view name="tab-configure"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Pit" icon="ion-wrench" ui-sref="tabs.pit">
            <ion-nav-view name="tab-pit"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Setup" icon="ion-edit" ui-sref="tabs.setup">
            <ion-nav-view name="tab-setup"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Match" icon="ion-flame" ui-sref="tabs.match">
            <ion-nav-view name="tab-match"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Autonomous" icon="ion-social-android" ui-sref="tabs.autonomous">
            <ion-nav-view name="tab-autonomous"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Teleop" icon="ion-man" ui-sref="tabs.teleop">
            <ion-nav-view name="tab-teleop"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Cloud" icon="ion-ios-cloud" ui-sref="tabs.cloud">
            <ion-nav-view name="tab-cloud"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
<!-- </ion-view> -->