<ion-view style="" title="TeleOp">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div class="button-bar">
                <label style="width: 70%;" name="crossingDefense" class="item item-select">
                    <span class="input-label">Cross Defense</span>
                    <select>
                        <option>Portcullis</option>
                        <option>Cheval De Frise</option>
                        <option>Moat</option>
                        <option>Ramparts</option>
                        <option>Draw Bridge</option>
                        <option>Sally Port</option>
                        <option>Rock Wall</option>
                        <option>Rough Terrain</option>
                        <option>Low Bar</option>
                    </select>
                </label>
                <ion-toggle style="width: 30%;" name="crossedDefense" toggle-class="toggle-positive">Crossed</ion-toggle>
            </div>
            <div class="button-bar">
                <label style="width: 70%;" name="breachDefense" class="item item-select">
                    <span class="input-label">Breach Defense</span>
                    <select>
                        <option>Portcullis</option>
                        <optison>Cheval de Frise</optison>
                        <option>Moat</option>
                        <option>Ramparts</option>
                        <option>Draw Bridge</option>
                        <option>Sally Port</option>
                        <option>Rock Wall</option>
                        <option>Rough Terrain</option>
                        <option>Low Bar</option>
                    </select>
                </label>
                <ion-toggle style="width: 30%;" name="breachedDefense" toggle-class="toggle-positive">Breached</ion-toggle>
            </div>
        </form>
        <div style="" class="button-bar">
            <button style="width: 10%;" class="button button-block button-balanced">+</button>
            <button style="width: 10%;" class="button button-block button-assertive">-</button>
            <button style="width: 40%;" class="button button-energized button-block ">Attempt</button>
            <button style="width: 40%;" class="button button-royal button-block ">Score</button>
        </div>
        <div style="" class="button-bar">
            <button style="width: 10%;" class="button button-block button-balanced">+</button>
            <button style="width: 10%;" class="button button-block button-assertive">-</button>
            <button style="width: 40%;" class="button button-energized button-block ">Attempt</button>
            <button style="width: 40%;" class="button button-royal button-block ">Score</button>
        </div>
        <form style="" class="list">
            <ion-toggle style="" name="challengeTower" toggle-class="toggle-positive">Challenge Tower</ion-toggle>
            <ion-toggle style="" name="scaleTower" toggle-class="toggle-positive">Scale Tower</ion-toggle>
        </form>
    </ion-content>
</ion-view>