<ion-view style="" title="TeleOp">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div class="button-bar">
                <label style="width: 70%;" name="crossingDefense" class="item item-select">
                    <span class="input-label">Cross Defense</span>
                    <select>
                        <option>Portcullis</option>
                        <option>Cheval De Frise</option>
                        <option>Moat</option>
                        <option>Ramparts</option>
                        <option>Draw Bridge</option>
                        <option>Sally Port</option>
                        <option>Rock Wall</option>
                        <option>Rough Terrain</option>
                        <option>Low Bar</option>
                    </select>
                </label>
                <ion-toggle style="width: 30%;" name="crossedDefense" toggle-class="toggle-positive">Crossed</ion-toggle>
            </div>
            <div class="button-bar">
                <label style="width: 70%;" name="breachDefense" class="item item-select">
                    <span class="input-label">Breach Defense</span>
                    <select>
                        <option>Portcullis</option>
                        <optison>Cheval de Frise</optison>
                        <option>Moat</option>
                        <option>Ramparts</option>
                        <option>Draw Bridge</option>
                        <option>Sally Port</option>
                        <option>Rock Wall</option>
                        <option>Rough Terrain</option>
                        <option>Low Bar</option>
                    </select>
                </label>
                <ion-toggle style="width: 30%;" name="breachedDefense" toggle-class="toggle-positive">Breached</ion-toggle>
            </div>
        </form>
        <div class="button-bar">
            <button style="width: 10%;" class="button  button-balanced"><i class="glyphicon glyphicon-plus"></i></button>
            <button style="width: 10%;" class="button  button-assertive"><i class="glyphicon glyphicon-minus"></i></button>
            <button style="width: 40%;" class="button button-energized " ng-click="attempt()">Attempt
            <span class="badge" style="transform: translateX(1em);">{{numAttempts}}</span>
            </button>
            <button style="width: 40%;" class="button button-royal " ng-click="score()">Score
            <span class="badge" style="transform: translateX(1em);">{{numScores}}</span>
            </button>
        </div>
        <!--
        <div style="" class="button-bar">
            <button style="width: 10%;" class="button button-block button-balanced"><i class="glyphicon glyphicon-plus"></i></button>
            <button style="width: 10%;" class="button button-block button-assertive"><i class="glyphicon glyphicon-minus"></i></button>
            <button style="width: 40%;" class="button button-energized button-block ">Attempt</button>
            <button style="width: 40%;" class="button button-royal button-block ">Score</button>
        </div>
            -->
        <form style="" class="form-inline">
            <ion-toggle style="" name="challengeTower" toggle-class="toggle-positive">Challenge Tower</ion-toggle>
            <ion-toggle style="" name="scaleTower" toggle-class="toggle-positive">Scale Tower</ion-toggle>
        </form>
        <button class="button button-assertive" ng-click="resetScore()">Reset Score!</button>
    </ion-content>
</ion-view>