<ion-view style="" title="TeleOp">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" name="crossingDefense" class="item item-select">
                <span class="input-label">Cross Defense</span>
                <select>
                    <option>Portcullis</option>
                    <option>Cheval De Frise</option>
                    <option>Moat</option>
                    <option>Ramparts</option>
                    <option>Draw Bridge</option>
                    <option>Sally Port</option>
                    <option>Rock Wall</option>
                    <option>Rough Terrain</option>
                    <option>Low Bar</option>
                </select>
            </label>
            <label style="" name="breachDefense" class="item item-select">
                <span class="input-label">Breach Defense</span>
                <select>
                    <option>Portcullis</option>
                    <option>Cheval de Frise</option>
                    <option>Moat</option>
                    <option>Ramparts</option>
                    <option>Draw Bridge</option>
                    <option>Sally Port</option>
                    <option>Rock Wall</option>
                    <option>Rough Terrain</option>
                    <option>Low Bar</option>
                </select>
            </label>
        </form>
        <div style="" class="button-bar">
            <button style="" class="button button-energized button-block ">Attempt</button>
            <button style="" class="button button-royal button-block ">Score</button>
        </div>
        <div style="" class="button-bar">
            <button style="" class="button button-energized button-block ">Attempt</button>
            <button style="" class="button button-royal button-block ">Score</button>
        </div>
        <form style="" class="list">
            <ion-toggle style="" name="challengeTower" toggle-class="toggle-positive">Challenge Tower</ion-toggle>
            <ion-toggle style="" name="scaleTower" toggle-class="toggle-positive">Scale Tower</ion-toggle>
        </form>
    </ion-content>
</ion-view>